AUTH0_ISSUER=https://your-domain.auth0.com/
AUTH0_AUDIENCE=your-api-audience
IR_ACCOUNT_ID=your-org-id
CUSTOM_API_KEY=test


POSTGRES_URL=""
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DATABASE="menuboard"
